# This is a sample file and should not be modified, you can change these parameters in webui-user.sh

# Uncomment this temporarily and run with internet if you need to reinstall or update torch
#reinstall_torch=true

# Uncomment this to make pip silent during installation and requirement checks
#quiet_pip=true
